body{
	margin: 0;
}

.container{
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.menu{
	height: 900px;
	background-image: url(img/home_bg.jpg);
	background-position: left;
}

.header{
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 100px;
	width: 1000px;
	height: 100px;
}

.logo{
	float: left;
	font-family: 'Pacifico', cursive;
	font-size: 48px;
}

.nav{
	float: left;
	margin-left: 100px;
	font-size: 18px;
	font-family: arial;
	text-align: center;
	height: 100px;
}

.nav ul{
	padding-top: 10px;
}

.nav nav ul li{
	float: left;
	list-style-type: none;
	margin-left: 50px;
	padding-top: 10px;
}



.nav nav ul li:hover{
	border-top: 4px solid orange;
	padding-top: 6px;
}

p{
	margin-bottom: 10px;
	font-family: none;
}

.menu-text{
	font-family: arial;
	width: 300px;
	margin-left: 140px;
	margin-top: 200px;
}

.font-size-text{
	font-size: 18px;
	padding-bottom: 10px;
}

.button{
	background-color: rgb(255, 96, 51);
	font-size: 22px;
	padding: 15px;
	color: white;
	border: none;
	outline: none;
}

.button:hover{
	cursor: pointer;
}

.about-us{
	background-color: rgb(40, 172, 167);
	height: 600px;
	color: white;
}

.image{
	float: left;
	width: 50%;
}

.information{
	float: left;
	text-align: left;
	width: 40%;
	margin-left: 40px;
	line-height: 1.4
}

.information p{
	font-size: 17px;
}

.ab-header{
	font-size: 100px;
}

.our-services{
	height: 800px;
	background-color: #009fff;
}

.our-services-buttons{
	float: left;
	width: 50%;
	height: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.bottons-items{
	width: 300px;
	height: 100px;
	background-color: white;
}

.bottons-items:visited{
	color: black;
}

.text-items{
	width: 75%;
	height: 65px;
	float: left;
	background-color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 35px;
	margin-left: 40px;
	border-right: 1px solid grey;
}

.image-items{
	width: 15%;
	height: 75px;
	float: left;
	background-color: white;
	text-align: center;
	padding-top: 25px;
}

.our-services-img{
	float: left;
	width: 50%;
	height: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	position: relative;
}

.our-services-text{
	font-size: 80px;
	font-family: arial;
	color: white;
	position: absolute;
	top: 35%;
	left: 10%;
}

.gallery{
	background-color: #ffe92f;
	height: 1550px;
	position: relative;
}

.gallery-text{
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	line-height: 32px;
	font-family: arial;
}

.gallery-text h2{
	font-size: 80px;
	margin: 0;
	padding-top: 100px;
	padding-bottom: 40px;
}

.gallery-text p{
	font-size: 18px;
}

.gallery-images{}

.row{}

.row2{
	padding-top: 30px;
	padding-left: 10px;
}

.gall1{
	float: left;
}
.gall2{
	position: absolute;
	left: 65%;
	height: 547px;
	padding-top: 3px;

}

.gall3{
	float: left;
}

.gall4{
	float: left;
	padding-left: 45px;
}

.gallery-button{
	width: 200px;
	height: 60px;
	background-color: #3d2eef;
	color: white;
	text-align: center;
	margin: 60px auto;
	display: block;
	font-size: 24px;
	line-height: 57.5px;
	text-decoration: none;
}

.gallery-button:hover{
	background-color: #2c1dde;
}

.subscribe{
	background-image: url(img/subscribe-bg.png);
	background-position: center;
	height: 500px;
	position: relative;
}

.sub-header{
	margin-left: 60px;
}

.header-text{
	padding-top: 100px;
	margin: 0;
	font-size: 40px;
}

.sub-text{
	width: 450px;
	font-size: 18px;
}

.input-email{
	margin-right: 24px;
	width: 50%;
	outline: 0;
	border: 1px solid black;
	font-size: 18px;
	padding: 14px 12px;
}

.sub-button{
	background-color: #97ba2c;
	height: 51px;
	font-size: 18px;
	padding: 0 5px;
	color: white;
	border: none;
}

.sub-button:hover{
	cursor: pointer;
}

.blog{
	background-color: #b07cf8;
	color: white;
	text-align: center;
	height: 750px;
}

.blog-text{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
}

.blog-images{
	margin-top: 20px;

}

.blog-button{
	width: 200px;
	height: 60px;
	background-color: #e7192b;
	color: white;
	text-align: center;
	margin: 60px auto;
	display: block;
	font-size: 24px;
	line-height: 57.5px;
	text-decoration: none;
}

.blog-button:hover{
	background-color: #f82b3c;
}

.contact{
	background-image: url(img/contact-bg.jpg);
	height: 866px;
	text-align: center;
}

.inputs{
	margin-left: 50px;
	float: left;
}

.input{
	display: block;
	width: 400px;
	padding: 15px;
	border: none;
	margin-bottom: 15px;
	background-color: rgba(0, 209, 193, 0.5);
	color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

.input:focus{
	background-color: rgb(0, 193, 178);
	border-left: 5px solid #244177;
	outline: none;
	width: 395px;
}

.info{
	float: left;
	margin-left: 100px;
	text-align: left;
	line-height: 0.3;
	color: #333;
}

.message{
	height: 255px;
}

.footer{
	height: 110px;
	background-color: #333;
}

.left-text{
	width: 33%;
	float: left;
	text-align: center;
	font-size: 22px;
	color: #8e8e8e;
	padding-top: 30px; 
}

.center-text{
	width: 33%;
	float: left;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 35px;
	color: #8e8e8e;
	padding-top: 34px; 
}

.right-text{
	width: 33%;
	float: left;
	text-align: center;
	font-size: 22px;
	color: #8e8e8e;
	padding-top: 30px; 
}